*{
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px;
}

.container{
    max-width: 100%;
    border: 1px solid #000;
    margin: 0 20px;
}

@media only screen and (min-width: 768px){
    body{
        background: rgb(198, 255, 250);
    }
}

@media only screen and (min-width: 992px){
    body{
        background: rgb(198, 255, 198);
    }
}

@media only screen and (min-width: 1200px){
    body{
        background: rgb(242, 198, 255);
    }
}